body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    flex: 1;
}

.navbar ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    left: 30px;
}

.container {
    
    font-size: 25px;
    padding: 290px;
    
}

.text-section {
    max-width: 50%;
    position: absolute;
    left: 1px;
}

.imginicio {
    position: absolute;
    top: 20px;
    left: 825px;
    z-index: -1;
}

.imginicio img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.camile-botao{
    position: absolute;
    right: 1609px;
    margin-top: 170px;
 
    
}

.faixa{
    position: absolute;
    left: 150px;
    margin-top: -205px;
    z-index: -1;
}

nav {
    color: var(--text-01);
    font-weight: 600;
    height: 64px;
    background: var(--light-01);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--pg-margin);
 
    z-index: 100;
  }
  
  .logo{
    position: absolute;
    left: 20px;
  }

  .h3{
    position: absolute;
    right: 35px;
  }