
.sobresite {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sobresite h1 {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    display: block;
    font-size: 30px;
    color: #203F51;
    margin-top: 30px;
  }
  
  .sobresite p {
    font-size: 16px;
    color: #203F51;
    line-height: 1.5;
    text-align: justify;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .sobresite img {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  
  /* Estilos para o vídeo sobre deficientes */
  .video-deficientes {
    margin-top: 40px;
  }
  
  .video-deficientes iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: 8px;
    margin: 100px;
  }
  
  button.btn-contato{
   margin: auto;
   display: block;
   color: #f9f9f9;
   margin-top: 120px;
   position: relative;
   background-color: #3B6978
  }
